.body{
  /* font-family: aline serif;   */
}



.navbar-nav .nav-link {
    font-family: "Raleway", Sans-serif;
    font-size: 10px; /* Specify your desired font size */
    font-weight: 600;
}

/* .navbar-nav .nav-link:hover{
  color: #7f0000;
} */

/* Remove default dropdown arrow and adjust styles */
.nav-item.dropdown .nav-link::after {
  display: none; /* Hide the default arrow */
  
}

/* Show dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Adjust dropdown menu styles */
.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  z-index: 1000; /* Ensure it's on top of other elements */
  background-color: #fff; /* Example background color */
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15); /* Example box shadow */
}

.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa; /* Example hover background color */
}

.dropdown-item {
  font-size: 10px; /* Adjust the font size as needed */
}

.custom-navbar-container {
  border-radius: 10px;
  background-color: #f8f9fa; /* Optional: Set a background color for the navbar container */
  padding: 5px; /* Optional: Add padding to the navbar container */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 15px; */
}

.navbar-nav {
  margin: auto; /* Center the navbar items */
}

/* HEADER SECION CSSS */
.header{
  height: 500px;
   width: auto;
   background-image: linear-gradient(rgba(4,9, 30, 0.7 ),rgba(4,9, 30, 0.7 )), url(images/AIMSRIC_cmsd-300x200.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
}